{% extends "master/base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="form-card">
                <h1 class="form-title">{{ form_name }}</h1>
                <p class="form-subtitle">Please fill in the details below to continue.</p>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form_data|crispy }}

                    <button type="submit" class="btn btn-primary rounded-pill px-4 mt-3">{{ form_btn }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

