<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <span class="brand-mark" aria-hidden="true">
                <svg class="icon-svg"><use href="#icon-brand"></use></svg>
            </span>
            <span class="brand-copy">
                <span class="brand-name">
                    {% if profile.full_name %}
                        {{ profile.full_name }}
                    {% else %}
                        Portfolio
                    {% endif %}
                </span>
                <span class="brand-role">
                    {{ profile.headline|default:"Developer Portfolio" }}
                </span>
            </span>
        </a>


        <!-- Mobile Toggle -->
        <button class="navbar-toggler"
                type="button"
                aria-label="Toggle navigation"
                aria-expanded="false"
                data-nav-toggle>

            <span class="navbar-toggler-icon"></span>

        </button>


        <!-- Menu -->
        <div class="navbar-collapse" id="navbarNav" data-nav-menu>

            <ul class="navbar-nav ms-auto align-items-lg-center">


                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                       href="{% url 'home' %}">
                        <span class="nav-icon" aria-hidden="true"><svg class="icon-svg"><use href="#icon-home"></use></svg></span>
                        Home
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}"
                       href="{% url 'about' %}">
                        <span class="nav-icon" aria-hidden="true"><svg class="icon-svg"><use href="#icon-user"></use></svg></span>
                        About
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'skills' %}active{% endif %}"
                       href="{% url 'skills' %}">
                        <span class="nav-icon" aria-hidden="true"><svg class="icon-svg"><use href="#icon-skills"></use></svg></span>
                        Skills
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'projects' %}active{% endif %}"
                       href="{% url 'projects' %}">
                        <span class="nav-icon" aria-hidden="true"><svg class="icon-svg"><use href="#icon-projects"></use></svg></span>
                        Projects
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'resume' %}active{% endif %}"
                       href="{% url 'resume' %}">
                        <span class="nav-icon" aria-hidden="true"><svg class="icon-svg"><use href="#icon-resume"></use></svg></span>
                        Resume
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}"
                       href="{% url 'contact' %}">
                        <span class="nav-icon" aria-hidden="true"><svg class="icon-svg"><use href="#icon-contact"></use></svg></span>
                        Contact
                    </a>
                </li>



                {% if user.is_authenticated %}

                <li class="nav-item ms-lg-2 mt-2 mt-lg-0">
                    <a href="{% url 'dashboard' %}" 
                       class="btn btn-light">
                        <span class="action-icon" aria-hidden="true"><svg class="icon-svg"><use href="#icon-dashboard"></use></svg></span>
                        Dashboard
                    </a>
                </li>

                {% if user.is_staff or user.is_superuser %}
                <li class="nav-item ms-lg-2 mt-2 mt-lg-0">
                    <a href="{% url 'register' %}"
                       class="btn btn-outline-light">
                        <span class="action-icon" aria-hidden="true"><svg class="icon-svg"><use href="#icon-plus"></use></svg></span>
                        Register
                    </a>
                </li>
                {% endif %}

                <li class="nav-item ms-lg-2 mt-2 mt-lg-0">

                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}

                        <button class="btn btn-outline-light">
                            <span class="action-icon" aria-hidden="true"><svg class="icon-svg"><use href="#icon-logout"></use></svg></span>
                            Logout
                        </button>

                    </form>

                </li>


                {% endif %}


            </ul>

        </div>

    </div>
</nav>
