{% extends 'master/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <h1>Get In Touch</h1>
        <p class="lead">I'd love to hear from you. Send me a message and I'll respond as soon as possible.</p>

        <form method="POST" class="mt-4">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
            <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-lg">Cancel</a>
        </form>
    </div>
</div>
{% endblock body %}
